 /*
CSS template by 🥀 florcita 🥀 (#378453).
- This CSS is FREE USE if you follow my rules
- No reselling OR claiming my CSS as yours
- Do not remove my credit
- No sharing comissioned work before dm me first (just so i know they aren´t stealing it)
*/
/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* BACKGROUND */

body {
    background: url('https://get.wallhere.com/photo/temple-painting-arch-ruins-Greek-mythology-Frederic-Edwin-Church-The-Parthenon-ART-landmark-screenshot-ancient-history-ancient-greek-temple-ancient-roman-architecture-78006.jpg') center center fixed no-repeat;
    background-size: cover; /* Imagen centrada y ajustada en el fondo */
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    color: #ffffff8f;
    margin: 0;
    padding: 0;
}

html:not(.nolayout) body:after {
    content: ''; /* El pseudo-elemento no tiene contenido */
    position: fixed; /* Fija la posición en la pantalla */
    top: -25px;
    left: -30px;
    width: 120%; /* Ocupa todo el ancho */
    height: 120%; /* Ocupa toda la altura */
    background: url('https://get.wallhere.com/photo/temple-painting-arch-ruins-Greek-mythology-Frederic-Edwin-Church-The-Parthenon-ART-landmark-screenshot-ancient-history-ancient-greek-temple-ancient-roman-architecture-78006.jpg') center center no-repeat; /* Imagen de fondo */
    background-size: cover!important; /* La imagen cubre toda la pantalla */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    pointer-events: none; /* Evita interacciones con el fondo */
}


/*
@media screen and (min-width: 805px){
body {
	background: url('https://i.pinimg.com/originals/55/d1/fc/55d1fcf2da6951bf7fe7c561a157024a.jpg') top center fixed;
	-webkit-background-size: cover;
    background-repeat: no-repeat;
	background-size: cover;
}
   */ 
.breadcrumb::after {
    content: "CSS by florcita #378453";
	position: absolute;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: 10px;
    right: 15%;
    background-color: rgba(13, 86, 164, 0);
    text-shadow: 0px 0px 10px #6c4204;
    color: #fff;
    border-radius: 100px;
    pointer-events: none;
}

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }
    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%;
        }
    }
    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 20%;
        }
    }

html::after {
    content: '';
    position: fixed;
    top: 570px;
    left: 1500px;
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
    background-image: url('https://sci-hub.se/pictures/alexandra/athena-big.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 2px #000);
    z-index: 9999; 
    pointer-events: none;
}



/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(255, 255, 255, 0);
	border: none;
	box-shadow: none;
    color: #ffffffa3 !important;
	border-radius: 25px
}

/* LEFT SIDE */
.col-md-9 {
	background: rgba(216, 47, 47, 0);
    border-right: none;
    color: #fff !important;
}


/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(216, 47, 47, 0);
	border: none;
	border-top: none;
	color: #fff;
	border-radius: 0px 0px 25px 25px;
}

/* LIODEN LOGO REPLACER */

img[src$="logo-full-2.png"] {
    content: url('https://i.ibb.co/Fq4qhM44/eyeapp-intensegold.png');
    filter: drop-shadow(0px 0px 2px #ffd597);
    width:95px;
    margin-left: 50px!important;
    margin-top: 20px;
    padding-right: 0 !important;
    transition: transform 0.3s ease; 
}

/* BOUNCE HOVER */

img[src$="logo-full-2.png"]:hover {
    animation: bounce 0.6s ease; 
}

@keyframes bounce {
    0%, 100% { transform: scale(1); } /* tamaño normal */
    50% { transform: scale(1.1); } 
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(255, 255, 255, 0);
	border-bottom: none;
	color: #fff;
	border-radius: 25px;



}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #fff !important;
    text-shadow: 0px 0px 5px #ffd597 !important;
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: #c19f6e !important;
	border: 3px double !important;
    border-color: #a1783b!important;
	color: #fff !important;
    text-shadow: 0px 0px 10px #ffd597 !important;
	border-radius: 15px;
    box-shadow: 0px 0px 10px #ffd597 !important;
    transition: 0.2s;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: #0000 !important;
    border: none;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #ffffff8f
}

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: #a1783bcc !important;
    border: none !important;
	border-radius: 0px;
    box-shadow: 0 0 5px #ffd597;
	color: #fff !important;   
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: #c19f6e;
    border: none !important;
	border-radius: 20px;
    box-shadow: 0 0 5px #ffd597;
    text-shadow: none !important;
	color: #fff !important
}

/* free energy boost and others */
input,
select,
textarea {
	background: #63471d91 !important;
	border: none !important;
	border-radius: 5px !important;
	color: #fff !important;
    font-size: 11.5px!important;
	box-shadow: none !important;
	text-shadow: none !important;
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: #a1783b !important;
	border: 3px double !important;
    border-color: #6c4204!important;
	color: #fff;
    box-shadow: 0 0 5px #ffd597;
	border-radius: 10px !important
}

/* Headers */
h1,
h2,
h3,
.sidebar h3 {
    color: var(--fc1);
    font-family: var(--headFont);
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: rgb(255, 255, 255) !important;
    font-size: 22px !important;
    font-family: 'Cinzel';
    font-weight: bold;
    text-shadow: 0 0 3px #ffd597;
}

.sidebar Chat Box{
	background-color:  #ffffffc9 !important;
    font-size: 25px !important;
    font-family: 'Cinzel';
    font-weight: bold;
    text-shadow: 0 0 5px #ffd597;
}

.container.main::after {
	content: "";
    background-image: url('');
    background-size: cover;
    position: fixed;
	display: block;
    height:350px;
    width:350px;
	right: 10px;
    bottom: 0px;
	z-index: 1;
	pointer-events:none;
}

/* RIGHT SIDE PANELS */
.panel {
	/*background-color:  #ffffff8f !important;*/
	background-image:url('https://64.media.tumblr.com/ffd9744478fe560c406aa8874c51bd81/7c4b9c00d420ad26-03/s1280x1920/a615f89105ade5a0732b65d4bbfae8da74ddcafb.jpg') !important;
	background-size: cover !important;
    background-position: top !important; 
    color: #fff !important;
	border: 0px ridge !important;
	border-radius: 10px;
	box-shadow: 0 0 5px #ffd597 !important;
}



/* ENERGY BAR BACKGROUND */
.progress {
	color: #ffffff8f !important;
	border-radius: 20px !important;
    box-shadow:  0px 0px 5px #6c4204!important;
    background: #63471dbd !important;
    background-position: top !important;
    background-size: 25%;
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: linear-gradient(#c19f6ecc,#a1783bcc );
	color: #000000 !important;
	border-radius: 0px !important;
        
}

/* ENERGY BAR TEXT */
.progress div {
	color: #fff !important;
    text-shadow: #fff !important;
}

/* CHAT */

#fraSidebarChat iframe {
    z-index: 2; /* Asegúrate de que el iframe esté visible sobre el pseudo-elemento */
    background-color: #fff0 !important; /* Si el iframe debe tener un fondo propio */
}


.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
    background: #63471d91 !important;
    padding-left: 10px !important;
    color: #fff !important;
    border: none !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
    background: #63471d91 !important;
    padding-left: 10px !important;
    color: #fff !important;
    border: none !important
}

.s-chat-message__pinned /* Pinned Message */ {
    background: #6c4204 !important;
    padding-left: 10px !important;
    color: #fff !important;
    border: none !important
}

.s-chat-message_timestamp /* Timestamps */ {
    color: #fff !important;
    padding-left: 10px !important;
}

div#chatMessageContainer {
    border: 3px double !important;
    background: none !important;
    border-color: #6c4204!important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
    background: #63471dbd !important;
    color: #fff !important;
    border: none !important
}


/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */
.table {
	background: linear-gradient(#c19f6ecc,#a1783bcc );
	border: 3px double !important;
    border-color: #6c4204!important;
	border-collapse: separate;
    color: #fff !important;
    font-family: 'Cinzel';
    font-weight: bold;
	border-radius: 10px;
    text-shadow: 0 0 2px #6c4204;
    box-shadow:  0px 0px 10px #ffd597!important;
}

table#about {
    background: url('https://cdn.sanity.io/images/f23a1pgq/pma_production/767c1cc515ca8e372a7e7a69add499a5f31137b7-2300x1506.jpg?rect=0,166,2300,1174&bg=f2f2f2&w=1450&h=740&q=80&fit=clip') top no-repeat;
	background-size: cover;
    border: none !important;
    border-radius: 30px 30px 0px 0px;
    box-shadow:  0px 0px 5px #ffd597!important;
}
/*
table#player.table{
    background: url('https://media.istockphoto.com/id/1270418169/photo/natural-background-of-sandstoun-texture.jpg?s=612x612&w=0&k=20&c=iqiL1hT9sYPEtJcxAMx_fA7kVPyjEdGW-5M36eMd76M=')center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* USE THESE TO CHANGE COLOR */
 
/* MEMBER ONLINE */
 
.member-online {
    background: #47c100;
 
}
 
/* MEMBER OFFLINE */
 
.member-offline {
    background: #000000;
 
}
 
/* USE THESE TO CHANGE TO AN IMAGE */
 
/* MEMBER ONLINE */
 
.member-online {
    background: rgba(207,207,207,0);
    content:url('https://i.ibb.co/gLkGGv0M/weakantelopeday.png')!important;
     width:60px!important;
     height:60px;
 
}
 
/* MEMBER OFFLINE */
 
.member-offline {
    background: rgba(207,207,207,0);
    content:url('img src="https://i.ibb.co/4Z6T1jLh/remains-DAY.png')!important;
     width:60px!important;
     height:60px;
 
}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
    /*background-image:url('https://i.pinimg.com/originals/c4/5f/5c/c45f5c008b4c67a03cfcf4e5282a91cd.gif')!important;*/
    background-color:rgba(166, 72, 72, 0)!important;
	color: #fff !important;
	border-radius: 30px 30px 0px 0px;
    text-shadow: 0 0 2px #000;
}


/* AMOUNT OF LIONS + VIEW ALL */

td.bottom a {
    text-decoration: none !important;
    background-color:rgba(72, 166, 83, 0)!important;
    text-shadow: 0 0 5px #000;
}


/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(231, 16, 16, 0) !important;
    color: #fff;
	border-radius: 0px;
    text-shadow: 0 0 5px #000;
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: rgba(231, 16, 16, 0);
	border-radius: 0px !important;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

td.right {
	border-radius: 0px !important;
    background: rgba(231, 16, 16, 0)!important;
    
}

/* IGNORE */
.right_odd {
	background: none !important
}

tr{
    background: rgba(173, 19, 19, 0) !important;
    border-radius: 50px !important;
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(1, 1, 1, 0.5);
	border: none !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: #a1783bcc !important;
    box-shadow:  0px 0px 10px #ffd597!important;
	color: #fff !important;
    border: 3px double !important;
    border-color: #6c4204!important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: #a1783b;
    box-shadow:  0px 0px 10px #ffd597!important;
	border: 3px double !important;
    border-color: #6c4204!important;
    color: #fff !important;
	border-radius: 10px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(255, 0, 0, 0);
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: #63471d91 !important;
	border: none !important;
	border-radius: 5px !important;
	color: #fff !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: #fff0 !important;
	color: #fff  !important;
	border-radius: 0px !important;
}

.item {
	background: rgba(242, 28, 28, 0) !important;
	border: none !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #fff !important
}

div.slider.round::before /* Circle Part */ {
	background: #a1783b !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #fff !important;
        text-shadow: none !important;
}

/* LINK COLOR */

a:link,
a:visited,
a:active {
	color: #fff !important;
}

/* LINK HOVER COLOR */

a:hover {
	color: #fff !important;
    text-shadow: 0 0 5px #fff;
}

/*
/* BOXES */


.smallbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 28.4%;
	overflow: auto
}


.mediumbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 43.8%;
	overflow: auto
}


.largebox {
	float: initial;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 20px;
    margin-top: -50px;
    margin-bottom: -200px;
	height: 450px;
	width: 70%;
	overflow: auto
}

.innerbox {
    position: relative;
    top: -200px;
    background: rgba(255, 255, 255, 0.8); /* Color de fondo más claro para distinguir */
    color: #333; /* Color de texto */
    padding: 10px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin-top: -50px; /* Espacio entre la caja interna y el contenido de la caja principal */
    overflow: auto;
}

/* HOVER BOXES */


.smallhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 28.4%;
	overflow: auto;
        transition: 3s
}


.smallhoverbox:hover {
	height: 150px;
	width: 28.4%;
}


.mediumhoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}


.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}


.largehoverbox {
	float: left;
	background: rgba(1, 1, 1, 0.5);
	color: #000000;
	padding: 10px;
	border: none;
	border-radius: 0px;
	margin: 10px;
	height: 150px;
	width: 90%;
	overflow: auto;
    transition: 3s
}


.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #ffffff
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #000000;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}

table#player img { 
    border-radius: unset !important; 
    overflow: unset !important;
    scale: unset !important;
    margin: unset !important;
    padding: unset !important;
}

/* lion image */
#lion_image>div {
    border-radius: 20px;
    border: 1px solid var(--borderColor);
}

/* CAVE / MOUND IMAGES */

div.cave-grid {
    position: relative; /* Añadido para posicionar el pseudo-elemento respecto al contenedor */
    background-color: #d6000000;
    width: 250px;
    height: 190px;
    border-radius: 20px;
    overflow: visible;
    display: inline-block;
}

/* general */

div.cave-grid > img {
    content: url('https://i.pinimg.com/736x/39/3f/32/393f32574c27d9a159a74cdcc27b0b9a.jpg') !important;
    width: 100%;
    height: 85%;
    border: 3px double !important;
    border-color: #6c4204!important;
    object-fit: cover; 
    border-radius: 20px;
    transition: 0.3s ease;
    margin-left: 0; 
    box-shadow:  0px 0px 5px #ffd597!important;
}


div.cave-grid>img:hover{
	padding-left: 0%;
	height: 160px;	
	width:250px;
	opacity: 1;
	overflow: hidden;
    position: relative;
    filter: blur(1px) saturate(2);
}


div.cave-grid>img[src$="prideoverviewbanner.png"] {
	content: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhpIY7GHf1zCvyGAVhWlCQgDsCGzzSA_i_Uwub4KL8jqE1PevzZ6urHyEkavJ4QOTWfmlLC5vB2tDPjm4fr3wCvQ_FVFMANkKVeBq9ljtCtE-65b2HPyHqEIUg4W-lV4MAweepmmMto-aspimq3pQUklupfNU1odFdymi6DdW9VtHBBRPgCOeoiRDa9Dw/s800/Paul%20Beckert,%20Leda%20and%20the%20Swan.jpg') !important;
}


div.cave-grid>img[src$="unsortedlionsbanner.png"] {
	content: url('https://static.wikia.nocookie.net/e8da29e8-c35e-4b83-9b13-1990a480aec8/scale-to-width/755') !important 
}

div.cave-grid>img[src$="nestingbanner.png"] {
	content: url('https://greekgodsparadise.com/wp-content/uploads/2017/09/Hercules-Room-Ceiling-Painting-France.jpg') !important;
}


a[href$="mound.php?PLAYER ID"]>div.mound-grid>img {
    content: url('https://64.media.tumblr.com/b85dcc04edc157d4f26e9c184a25a9bb/tumblr_p2k911tTO81x1kutmo1_540.gifv') !important;
    margin-left: -10px;
    margin-top: -100px;
    width: 250px;
    height: 125px;

}

.cave-grid {
    text-align:center;
    margin-right:0px;
    padding-left: 0%;
	height: 160px;	
	width:250px;
	border: 0px ridge;
	overflow: hidden;
	border-radius: 20px !important;
}

.mound-grid {
    background: #d6000000 !important;
    position: relative;
    width: 200px;
    margin-bottom:20%;
    padding-bottom: 90%;
    padding-right: 20%;
    height: 110px !important;
    overflow: hidden; /* Recorta el contenido excedente */
    border-radius: 20px !important;
    box-shadow: 0px 0px 8px #fff0 !important;
}


.mound-grid img {
	background: url('https://img.pikbest.com/png-images/20240830/ancient-greek-bust-of-a-woman-with-blindfold-on-her-eyes-_10771971.png!sw800') center no-repeat;
	background-size:80%;
	width: 100%;
	height: 50%;
	padding-top: 70%;
	padding-right: 100%;
	max-height:150px;
	border-radius: 10px !important;
	transition: 0.3s ease;
	box-shadow:  0px 0px 5px #4471ba00!important;

}

.mound-grid:hover img {
    filter: saturate(3) blur(1px);
    overflow: hidden;
    
}


/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display:block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
            }
}

/* ANIMATED FIREFLIES: EDITED FOR LIODEN, BY PLAYER =Austin= #43750 */
/* ANIMATED BY MARK GOLUS ON CODEPEN: https://codepen.io/mikegolus/pen/Jegvym */

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
    z-index: -1;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: #ffd597;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 10s;
}
.firefly:nth-child(1)::after {
  animation-duration: 10s, 10540ms;
  animation-delay: 0ms, 6067ms;
}

@keyframes move1 {
  0% {
    transform: translateX(-10vw) translateY(-14vh) scale(0.59);
  }
  3.8461538462% {
    transform: translateX(45vw) translateY(24vh) scale(0.32);
  }
  7.6923076923% {
    transform: translateX(12vw) translateY(41vh) scale(0.66);
  }
  11.5384615385% {
    transform: translateX(45vw) translateY(-21vh) scale(0.57);
  }
  15.3846153846% {
    transform: translateX(-28vw) translateY(-27vh) scale(0.74);
  }
  19.2307692308% {
    transform: translateX(34vw) translateY(40vh) scale(0.53);
  }
  23.0769230769% {
    transform: translateX(11vw) translateY(45vh) scale(0.8);
  }
  26.9230769231% {
    transform: translateX(-1vw) translateY(-32vh) scale(0.94);
  }
  30.7692307692% {
    transform: translateX(-16vw) translateY(-41vh) scale(0.48);
  }
  34.6153846154% {
    transform: translateX(4vw) translateY(-17vh) scale(0.95);
  }
  38.4615384615% {
    transform: translateX(23vw) translateY(-12vh) scale(0.34);
  }
  42.3076923077% {
    transform: translateX(30vw) translateY(-12vh) scale(0.47);
  }
  46.1538461538% {
    transform: translateX(-18vw) translateY(-42vh) scale(0.31);
  }
  50% {
    transform: translateX(26vw) translateY(25vh) scale(0.77);
  }
  53.8461538462% {
    transform: translateX(-2vw) translateY(21vh) scale(0.74);
  }
  57.6923076923% {
    transform: translateX(10vw) translateY(-6vh) scale(0.79);
  }
  61.5384615385% {
    transform: translateX(-10vw) translateY(46vh) scale(0.37);
  }
  65.3846153846% {
    transform: translateX(5vw) translateY(5vh) scale(0.6);
  }
  69.2307692308% {
    transform: translateX(-44vw) translateY(39vh) scale(0.99);
  }
  73.0769230769% {
    transform: translateX(-35vw) translateY(-36vh) scale(0.6);
  }
  76.9230769231% {
    transform: translateX(-39vw) translateY(21vh) scale(0.81);
  }
  80.7692307692% {
    transform: translateX(41vw) translateY(30vh) scale(0.28);
  }
  84.6153846154% {
    transform: translateX(0vw) translateY(9vh) scale(0.27);
  }
  88.4615384615% {
    transform: translateX(-42vw) translateY(-42vh) scale(0.61);
  }
  92.3076923077% {
    transform: translateX(27vw) translateY(-4vh) scale(0.92);
  }
  96.1538461538% {
    transform: translateX(48vw) translateY(1vh) scale(0.62);
  }
  100% {
    transform: translateX(7vw) translateY(-35vh) scale(0.31);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 9s;
}
.firefly:nth-child(2)::after {
  animation-duration: 9s, 6460ms;
  animation-delay: 0ms, 4145ms;
}

@keyframes move2 {
  0% {
    transform: translateX(44vw) translateY(-39vh) scale(0.85);
  }
  3.7037037037% {
    transform: translateX(47vw) translateY(49vh) scale(0.73);
  }
  7.4074074074% {
    transform: translateX(-28vw) translateY(-44vh) scale(0.68);
  }
  11.1111111111% {
    transform: translateX(19vw) translateY(2vh) scale(0.44);
  }
  14.8148148148% {
    transform: translateX(-15vw) translateY(-31vh) scale(0.43);
  }
  18.5185185185% {
    transform: translateX(11vw) translateY(-11vh) scale(0.47);
  }
  22.2222222222% {
    transform: translateX(-40vw) translateY(25vh) scale(1);
  }
  25.9259259259% {
    transform: translateX(38vw) translateY(6vh) scale(0.62);
  }
  29.6296296296% {
    transform: translateX(7vw) translateY(44vh) scale(0.28);
  }
  33.3333333333% {
    transform: translateX(34vw) translateY(-9vh) scale(0.56);
  }
  37.037037037% {
    transform: translateX(-45vw) translateY(-26vh) scale(0.26);
  }
  40.7407407407% {
    transform: translateX(12vw) translateY(10vh) scale(1);
  }
  44.4444444444% {
    transform: translateX(42vw) translateY(5vh) scale(0.78);
  }
  48.1481481481% {
    transform: translateX(-24vw) translateY(50vh) scale(0.36);
  }
  51.8518518519% {
    transform: translateX(-14vw) translateY(-37vh) scale(0.49);
  }
  55.5555555556% {
    transform: translateX(-45vw) translateY(-46vh) scale(0.65);
  }
  59.2592592593% {
    transform: translateX(-8vw) translateY(-19vh) scale(0.82);
  }
  62.962962963% {
    transform: translateX(27vw) translateY(5vh) scale(0.38);
  }
  66.6666666667% {
    transform: translateX(7vw) translateY(16vh) scale(0.97);
  }
  70.3703703704% {
    transform: translateX(-14vw) translateY(16vh) scale(0.88);
  }
  74.0740740741% {
    transform: translateX(-36vw) translateY(36vh) scale(0.56);
  }
  77.7777777778% {
    transform: translateX(-31vw) translateY(-27vh) scale(0.55);
  }
  81.4814814815% {
    transform: translateX(37vw) translateY(21vh) scale(0.46);
  }
  85.1851851852% {
    transform: translateX(25vw) translateY(20vh) scale(0.65);
  }
  88.8888888889% {
    transform: translateX(34vw) translateY(37vh) scale(0.54);
  }
  92.5925925926% {
    transform: translateX(24vw) translateY(-3vh) scale(0.6);
  }
  96.2962962963% {
    transform: translateX(-30vw) translateY(37vh) scale(0.64);
  }
  100% {
    transform: translateX(8vw) translateY(-7vh) scale(0.99);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 9s;
}
.firefly:nth-child(3)::after {
  animation-duration: 9s, 6410ms;
  animation-delay: 0ms, 4219ms;
}

@keyframes move3 {
  0% {
    transform: translateX(28vw) translateY(13vh) scale(0.47);
  }
  5.5555555556% {
    transform: translateX(45vw) translateY(34vh) scale(0.36);
  }
  11.1111111111% {
    transform: translateX(-25vw) translateY(-6vh) scale(0.87);
  }
  16.6666666667% {
    transform: translateX(-40vw) translateY(40vh) scale(0.46);
  }
  22.2222222222% {
    transform: translateX(40vw) translateY(-49vh) scale(0.54);
  }
  27.7777777778% {
    transform: translateX(-15vw) translateY(33vh) scale(0.69);
  }
  33.3333333333% {
    transform: translateX(-26vw) translateY(-47vh) scale(0.39);
  }
  38.8888888889% {
    transform: translateX(45vw) translateY(-5vh) scale(0.56);
  }
  44.4444444444% {
    transform: translateX(-49vw) translateY(24vh) scale(0.98);
  }
  50% {
    transform: translateX(30vw) translateY(24vh) scale(0.72);
  }
  55.5555555556% {
    transform: translateX(-34vw) translateY(39vh) scale(0.78);
  }
  61.1111111111% {
    transform: translateX(-33vw) translateY(12vh) scale(0.66);
  }
  66.6666666667% {
    transform: translateX(18vw) translateY(39vh) scale(0.91);
  }
  72.2222222222% {
    transform: translateX(42vw) translateY(-30vh) scale(0.37);
  }
  77.7777777778% {
    transform: translateX(28vw) translateY(-28vh) scale(0.86);
  }
  83.3333333333% {
    transform: translateX(-7vw) translateY(14vh) scale(0.67);
  }
  88.8888888889% {
    transform: translateX(-2vw) translateY(-42vh) scale(0.64);
  }
  94.4444444444% {
    transform: translateX(-44vw) translateY(-22vh) scale(0.93);
  }
  100% {
    transform: translateX(35vw) translateY(-28vh) scale(0.45);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 17s;
}
.firefly:nth-child(4)::after {
  animation-duration: 17s, 9484ms;
  animation-delay: 0ms, 6352ms;
}

@keyframes move4 {
  0% {
    transform: translateX(41vw) translateY(23vh) scale(0.54);
  }
  3.5714285714% {
    transform: translateX(14vw) translateY(-5vh) scale(0.55);
  }
  7.1428571429% {
    transform: translateX(41vw) translateY(-24vh) scale(0.95);
  }
  10.7142857143% {
    transform: translateX(-25vw) translateY(8vh) scale(1);
  }
  14.2857142857% {
    transform: translateX(48vw) translateY(-20vh) scale(0.73);
  }
  17.8571428571% {
    transform: translateX(1vw) translateY(-18vh) scale(0.42);
  }
  21.4285714286% {
    transform: translateX(30vw) translateY(29vh) scale(0.84);
  }
  25% {
    transform: translateX(9vw) translateY(29vh) scale(0.65);
  }
  28.5714285714% {
    transform: translateX(-33vw) translateY(-45vh) scale(0.78);
  }
  32.1428571429% {
    transform: translateX(34vw) translateY(46vh) scale(0.34);
  }
  35.7142857143% {
    transform: translateX(15vw) translateY(45vh) scale(0.49);
  }
  39.2857142857% {
    transform: translateX(50vw) translateY(18vh) scale(0.76);
  }
  42.8571428571% {
    transform: translateX(-39vw) translateY(35vh) scale(0.32);
  }
  46.4285714286% {
    transform: translateX(-6vw) translateY(11vh) scale(0.45);
  }
  50% {
    transform: translateX(-43vw) translateY(-3vh) scale(0.74);
  }
  53.5714285714% {
    transform: translateX(4vw) translateY(-45vh) scale(0.74);
  }
  57.1428571429% {
    transform: translateX(-46vw) translateY(-38vh) scale(0.27);
  }
  60.7142857143% {
    transform: translateX(-8vw) translateY(2vh) scale(0.69);
  }
  64.2857142857% {
    transform: translateX(49vw) translateY(-33vh) scale(0.86);
  }
  67.8571428571% {
    transform: translateX(23vw) translateY(48vh) scale(0.43);
  }
  71.4285714286% {
    transform: translateX(25vw) translateY(42vh) scale(0.32);
  }
  75% {
    transform: translateX(-2vw) translateY(48vh) scale(0.48);
  }
  78.5714285714% {
    transform: translateX(40vw) translateY(20vh) scale(0.37);
  }
  82.1428571429% {
    transform: translateX(-18vw) translateY(-40vh) scale(0.93);
  }
  85.7142857143% {
    transform: translateX(22vw) translateY(-22vh) scale(0.85);
  }
  89.2857142857% {
    transform: translateX(-13vw) translateY(3vh) scale(0.55);
  }
  92.8571428571% {
    transform: translateX(26vw) translateY(-21vh) scale(0.84);
  }
  96.4285714286% {
    transform: translateX(32vw) translateY(-30vh) scale(0.79);
  }
  100% {
    transform: translateX(23vw) translateY(47vh) scale(0.61);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 6024ms;
  animation-delay: 0ms, 1015ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-11vw) translateY(35vh) scale(0.39);
  }
  5.8823529412% {
    transform: translateX(40vw) translateY(24vh) scale(0.73);
  }
  11.7647058824% {
    transform: translateX(1vw) translateY(25vh) scale(0.6);
  }
  17.6470588235% {
    transform: translateX(-14vw) translateY(5vh) scale(0.39);
  }
  23.5294117647% {
    transform: translateX(-41vw) translateY(-29vh) scale(0.82);
  }
  29.4117647059% {
    transform: translateX(38vw) translateY(36vh) scale(0.47);
  }
  35.2941176471% {
    transform: translateX(-27vw) translateY(48vh) scale(0.32);
  }
  41.1764705882% {
    transform: translateX(6vw) translateY(20vh) scale(0.43);
  }
  47.0588235294% {
    transform: translateX(-25vw) translateY(27vh) scale(0.48);
  }
  52.9411764706% {
    transform: translateX(-15vw) translateY(-8vh) scale(0.78);
  }
  58.8235294118% {
    transform: translateX(4vw) translateY(41vh) scale(0.46);
  }
  64.7058823529% {
    transform: translateX(50vw) translateY(20vh) scale(0.7);
  }
  70.5882352941% {
    transform: translateX(-13vw) translateY(7vh) scale(0.5);
  }
  76.4705882353% {
    transform: translateX(29vw) translateY(-15vh) scale(0.89);
  }
  82.3529411765% {
    transform: translateX(-36vw) translateY(29vh) scale(0.46);
  }
  88.2352941176% {
    transform: translateX(-7vw) translateY(24vh) scale(0.82);
  }
  94.1176470588% {
    transform: translateX(-43vw) translateY(46vh) scale(0.34);
  }
  100% {
    transform: translateX(18vw) translateY(46vh) scale(0.67);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 9s;
}
.firefly:nth-child(6)::after {
  animation-duration: 9s, 7072ms;
  animation-delay: 0ms, 6412ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-45vw) translateY(3vh) scale(0.66);
  }
  5% {
    transform: translateX(-39vw) translateY(18vh) scale(0.41);
  }
  10% {
    transform: translateX(-37vw) translateY(11vh) scale(0.61);
  }
  15% {
    transform: translateX(19vw) translateY(10vh) scale(0.68);
  }
  20% {
    transform: translateX(-43vw) translateY(-44vh) scale(0.72);
  }
  25% {
    transform: translateX(-13vw) translateY(33vh) scale(0.69);
  }
  30% {
    transform: translateX(-39vw) translateY(-43vh) scale(0.29);
  }
  35% {
    transform: translateX(-48vw) translateY(-43vh) scale(0.55);
  }
  40% {
    transform: translateX(14vw) translateY(34vh) scale(0.47);
  }
  45% {
    transform: translateX(-24vw) translateY(-29vh) scale(0.26);
  }
  50% {
    transform: translateX(-6vw) translateY(12vh) scale(0.52);
  }
  55% {
    transform: translateX(43vw) translateY(32vh) scale(0.35);
  }
  60% {
    transform: translateX(5vw) translateY(39vh) scale(0.43);
  }
  65% {
    transform: translateX(-20vw) translateY(8vh) scale(0.85);
  }
  70% {
    transform: translateX(37vw) translateY(-15vh) scale(0.77);
  }
  75% {
    transform: translateX(-2vw) translateY(-38vh) scale(0.27);
  }
  80% {
    transform: translateX(-45vw) translateY(39vh) scale(0.56);
  }
  85% {
    transform: translateX(7vw) translateY(28vh) scale(0.76);
  }
  90% {
    transform: translateX(42vw) translateY(15vh) scale(1);
  }
  95% {
    transform: translateX(23vw) translateY(-42vh) scale(0.99);
  }
  100% {
    transform: translateX(3vw) translateY(44vh) scale(0.65);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 11s;
}
.firefly:nth-child(7)::after {
  animation-duration: 11s, 8190ms;
  animation-delay: 0ms, 7869ms;
}

@keyframes move7 {
  0% {
    transform: translateX(29vw) translateY(12vh) scale(0.81);
  }
  5.8823529412% {
    transform: translateX(48vw) translateY(-42vh) scale(0.67);
  }
  11.7647058824% {
    transform: translateX(-15vw) translateY(1vh) scale(0.58);
  }
  17.6470588235% {
    transform: translateX(2vw) translateY(-26vh) scale(0.71);
  }
  23.5294117647% {
    transform: translateX(26vw) translateY(-29vh) scale(0.47);
  }
  29.4117647059% {
    transform: translateX(29vw) translateY(-45vh) scale(0.67);
  }
  35.2941176471% {
    transform: translateX(21vw) translateY(44vh) scale(0.61);
  }
  41.1764705882% {
    transform: translateX(-9vw) translateY(9vh) scale(0.94);
  }
  47.0588235294% {
    transform: translateX(-39vw) translateY(-17vh) scale(0.59);
  }
  52.9411764706% {
    transform: translateX(-38vw) translateY(1vh) scale(0.66);
  }
  58.8235294118% {
    transform: translateX(-14vw) translateY(-21vh) scale(0.92);
  }
  64.7058823529% {
    transform: translateX(30vw) translateY(3vh) scale(0.9);
  }
  70.5882352941% {
    transform: translateX(43vw) translateY(-31vh) scale(0.72);
  }
  76.4705882353% {
    transform: translateX(-6vw) translateY(27vh) scale(0.28);
  }
  82.3529411765% {
    transform: translateX(-26vw) translateY(-26vh) scale(0.45);
  }
  88.2352941176% {
    transform: translateX(-21vw) translateY(-15vh) scale(0.82);
  }
  94.1176470588% {
    transform: translateX(-18vw) translateY(28vh) scale(0.36);
  }
  100% {
    transform: translateX(47vw) translateY(-42vh) scale(0.91);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 12s;
}
.firefly:nth-child(8)::after {
  animation-duration: 12s, 7616ms;
  animation-delay: 0ms, 4804ms;
}

@keyframes move8 {
  0% {
    transform: translateX(24vw) translateY(-6vh) scale(0.3);
  }
  5.2631578947% {
    transform: translateX(-23vw) translateY(-16vh) scale(0.67);
  }
  10.5263157895% {
    transform: translateX(50vw) translateY(-21vh) scale(0.38);
  }
  15.7894736842% {
    transform: translateX(-8vw) translateY(0vh) scale(0.77);
  }
  21.0526315789% {
    transform: translateX(-47vw) translateY(-26vh) scale(0.89);
  }
  26.3157894737% {
    transform: translateX(36vw) translateY(36vh) scale(0.72);
  }
  31.5789473684% {
    transform: translateX(14vw) translateY(-47vh) scale(0.5);
  }
  36.8421052632% {
    transform: translateX(38vw) translateY(-8vh) scale(0.27);
  }
  42.1052631579% {
    transform: translateX(-31vw) translateY(40vh) scale(0.3);
  }
  47.3684210526% {
    transform: translateX(-10vw) translateY(-21vh) scale(0.34);
  }
  52.6315789474% {
    transform: translateX(-17vw) translateY(32vh) scale(0.36);
  }
  57.8947368421% {
    transform: translateX(47vw) translateY(-14vh) scale(0.98);
  }
  63.1578947368% {
    transform: translateX(-28vw) translateY(-7vh) scale(0.79);
  }
  68.4210526316% {
    transform: translateX(9vw) translateY(-45vh) scale(0.63);
  }
  73.6842105263% {
    transform: translateX(-12vw) translateY(-32vh) scale(0.59);
  }
  78.9473684211% {
    transform: translateX(-23vw) translateY(-17vh) scale(0.34);
  }
  84.2105263158% {
    transform: translateX(-6vw) translateY(-6vh) scale(0.34);
  }
  89.4736842105% {
    transform: translateX(-35vw) translateY(42vh) scale(0.38);
  }
  94.7368421053% {
    transform: translateX(29vw) translateY(-42vh) scale(0.89);
  }
  100% {
    transform: translateX(36vw) translateY(-21vh) scale(0.28);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 14s;
}
.firefly:nth-child(9)::after {
  animation-duration: 14s, 9357ms;
  animation-delay: 0ms, 8445ms;
}

@keyframes move9 {
  0% {
    transform: translateX(22vw) translateY(15vh) scale(0.77);
  }
  4% {
    transform: translateX(-49vw) translateY(3vh) scale(0.76);
  }
  8% {
    transform: translateX(-48vw) translateY(16vh) scale(0.51);
  }
  12% {
    transform: translateX(-35vw) translateY(-29vh) scale(0.26);
  }
  16% {
    transform: translateX(-21vw) translateY(-15vh) scale(0.79);
  }
  20% {
    transform: translateX(-22vw) translateY(40vh) scale(0.58);
  }
  24% {
    transform: translateX(-30vw) translateY(-24vh) scale(0.89);
  }
  28% {
    transform: translateX(9vw) translateY(19vh) scale(0.79);
  }
  32% {
    transform: translateX(32vw) translateY(35vh) scale(0.84);
  }
  36% {
    transform: translateX(11vw) translateY(-32vh) scale(0.69);
  }
  40% {
    transform: translateX(7vw) translateY(-9vh) scale(0.79);
  }
  44% {
    transform: translateX(-18vw) translateY(-3vh) scale(0.59);
  }
  48% {
    transform: translateX(-15vw) translateY(-13vh) scale(0.6);
  }
  52% {
    transform: translateX(-22vw) translateY(-1vh) scale(1);
  }
  56% {
    transform: translateX(44vw) translateY(47vh) scale(0.29);
  }
  60% {
    transform: translateX(-9vw) translateY(35vh) scale(0.89);
  }
  64% {
    transform: translateX(38vw) translateY(-18vh) scale(0.99);
  }
  68% {
    transform: translateX(8vw) translateY(35vh) scale(0.95);
  }
  72% {
    transform: translateX(20vw) translateY(15vh) scale(0.92);
  }
  76% {
    transform: translateX(12vw) translateY(28vh) scale(0.74);
  }
  80% {
    transform: translateX(0vw) translateY(-34vh) scale(0.54);
  }
  84% {
    transform: translateX(29vw) translateY(-40vh) scale(0.35);
  }
  88% {
    transform: translateX(34vw) translateY(15vh) scale(0.35);
  }
  92% {
    transform: translateX(22vw) translateY(-38vh) scale(0.27);
  }
  96% {
    transform: translateX(-13vw) translateY(27vh) scale(0.53);
  }
  100% {
    transform: translateX(-18vw) translateY(4vh) scale(0.85);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 16s;
}
.firefly:nth-child(10)::after {
  animation-duration: 16s, 9281ms;
  animation-delay: 0ms, 820ms;
}

@keyframes move10 {
  0% {
    transform: translateX(29vw) translateY(-14vh) scale(0.36);
  }
  4.1666666667% {
    transform: translateX(-37vw) translateY(10vh) scale(0.89);
  }
  8.3333333333% {
    transform: translateX(47vw) translateY(43vh) scale(0.41);
  }
  12.5% {
    transform: translateX(3vw) translateY(34vh) scale(0.62);
  }
  16.6666666667% {
    transform: translateX(-4vw) translateY(-23vh) scale(0.59);
  }
  20.8333333333% {
    transform: translateX(-45vw) translateY(7vh) scale(0.35);
  }
  25% {
    transform: translateX(-33vw) translateY(-2vh) scale(0.8);
  }
  29.1666666667% {
    transform: translateX(8vw) translateY(2vh) scale(0.33);
  }
  33.3333333333% {
    transform: translateX(-35vw) translateY(-7vh) scale(0.66);
  }
  37.5% {
    transform: translateX(-49vw) translateY(-31vh) scale(0.9);
  }
  41.6666666667% {
    transform: translateX(28vw) translateY(-21vh) scale(0.4);
  }
  45.8333333333% {
    transform: translateX(4vw) translateY(2vh) scale(0.34);
  }
  50% {
    transform: translateX(8vw) translateY(9vh) scale(0.31);
  }
  54.1666666667% {
    transform: translateX(-19vw) translateY(38vh) scale(0.81);
  }
  58.3333333333% {
    transform: translateX(-48vw) translateY(42vh) scale(0.47);
  }
  62.5% {
    transform: translateX(-23vw) translateY(5vh) scale(0.92);
  }
  66.6666666667% {
    transform: translateX(-14vw) translateY(-12vh) scale(0.99);
  }
  70.8333333333% {
    transform: translateX(8vw) translateY(-47vh) scale(0.92);
  }
  75% {
    transform: translateX(-19vw) translateY(-39vh) scale(0.86);
  }
  79.1666666667% {
    transform: translateX(30vw) translateY(-23vh) scale(0.4);
  }
  83.3333333333% {
    transform: translateX(6vw) translateY(4vh) scale(0.73);
  }
  87.5% {
    transform: translateX(-1vw) translateY(12vh) scale(0.6);
  }
  91.6666666667% {
    transform: translateX(18vw) translateY(-24vh) scale(0.29);
  }
  95.8333333333% {
    transform: translateX(-29vw) translateY(-7vh) scale(0.52);
  }
  100% {
    transform: translateX(15vw) translateY(6vh) scale(0.44);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 13s;
}
.firefly:nth-child(11)::after {
  animation-duration: 13s, 7352ms;
  animation-delay: 0ms, 6206ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-45vw) translateY(43vh) scale(0.85);
  }
  5.5555555556% {
    transform: translateX(-26vw) translateY(-18vh) scale(0.43);
  }
  11.1111111111% {
    transform: translateX(-8vw) translateY(40vh) scale(0.34);
  }
  16.6666666667% {
    transform: translateX(28vw) translateY(-16vh) scale(0.74);
  }
  22.2222222222% {
    transform: translateX(-6vw) translateY(-45vh) scale(0.48);
  }
  27.7777777778% {
    transform: translateX(29vw) translateY(37vh) scale(0.27);
  }
  33.3333333333% {
    transform: translateX(33vw) translateY(46vh) scale(0.49);
  }
  38.8888888889% {
    transform: translateX(35vw) translateY(-10vh) scale(0.78);
  }
  44.4444444444% {
    transform: translateX(-37vw) translateY(-28vh) scale(0.73);
  }
  50% {
    transform: translateX(-24vw) translateY(-45vh) scale(0.45);
  }
  55.5555555556% {
    transform: translateX(42vw) translateY(19vh) scale(0.72);
  }
  61.1111111111% {
    transform: translateX(-44vw) translateY(22vh) scale(0.47);
  }
  66.6666666667% {
    transform: translateX(-15vw) translateY(-12vh) scale(0.85);
  }
  72.2222222222% {
    transform: translateX(-18vw) translateY(-13vh) scale(0.69);
  }
  77.7777777778% {
    transform: translateX(9vw) translateY(-48vh) scale(0.96);
  }
  83.3333333333% {
    transform: translateX(-4vw) translateY(-18vh) scale(0.82);
  }
  88.8888888889% {
    transform: translateX(22vw) translateY(34vh) scale(0.36);
  }
  94.4444444444% {
    transform: translateX(-22vw) translateY(-42vh) scale(0.69);
  }
  100% {
    transform: translateX(-48vw) translateY(7vh) scale(0.58);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 16s;
}
.firefly:nth-child(12)::after {
  animation-duration: 16s, 8698ms;
  animation-delay: 0ms, 2658ms;
}

@keyframes move12 {
  0% {
    transform: translateX(44vw) translateY(17vh) scale(0.51);
  }
  3.5714285714% {
    transform: translateX(1vw) translateY(6vh) scale(0.41);
  }
  7.1428571429% {
    transform: translateX(49vw) translateY(12vh) scale(0.53);
  }
  10.7142857143% {
    transform: translateX(34vw) translateY(18vh) scale(0.97);
  }
  14.2857142857% {
    transform: translateX(-39vw) translateY(-13vh) scale(0.65);
  }
  17.8571428571% {
    transform: translateX(-3vw) translateY(-16vh) scale(0.69);
  }
  21.4285714286% {
    transform: translateX(48vw) translateY(-18vh) scale(0.89);
  }
  25% {
    transform: translateX(-9vw) translateY(-11vh) scale(0.46);
  }
  28.5714285714% {
    transform: translateX(12vw) translateY(-48vh) scale(0.91);
  }
  32.1428571429% {
    transform: translateX(38vw) translateY(29vh) scale(0.88);
  }
  35.7142857143% {
    transform: translateX(-46vw) translateY(-13vh) scale(0.65);
  }
  39.2857142857% {
    transform: translateX(39vw) translateY(42vh) scale(0.5);
  }
  42.8571428571% {
    transform: translateX(26vw) translateY(-24vh) scale(0.39);
  }
  46.4285714286% {
    transform: translateX(45vw) translateY(-12vh) scale(0.29);
  }
  50% {
    transform: translateX(28vw) translateY(26vh) scale(0.37);
  }
  53.5714285714% {
    transform: translateX(30vw) translateY(-32vh) scale(0.7);
  }
  57.1428571429% {
    transform: translateX(-32vw) translateY(8vh) scale(0.88);
  }
  60.7142857143% {
    transform: translateX(11vw) translateY(-19vh) scale(0.41);
  }
  64.2857142857% {
    transform: translateX(3vw) translateY(-25vh) scale(0.29);
  }
  67.8571428571% {
    transform: translateX(-35vw) translateY(9vh) scale(0.94);
  }
  71.4285714286% {
    transform: translateX(21vw) translateY(-48vh) scale(0.27);
  }
  75% {
    transform: translateX(-31vw) translateY(-48vh) scale(0.75);
  }
  78.5714285714% {
    transform: translateX(33vw) translateY(-20vh) scale(0.98);
  }
  82.1428571429% {
    transform: translateX(-4vw) translateY(27vh) scale(0.27);
  }
  85.7142857143% {
    transform: translateX(-49vw) translateY(-34vh) scale(0.7);
  }
  89.2857142857% {
    transform: translateX(-38vw) translateY(-1vh) scale(0.31);
  }
  92.8571428571% {
    transform: translateX(2vw) translateY(-13vh) scale(0.47);
  }
  96.4285714286% {
    transform: translateX(21vw) translateY(2vh) scale(0.51);
  }
  100% {
    transform: translateX(31vw) translateY(-3vh) scale(0.53);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 11s;
}
.firefly:nth-child(13)::after {
  animation-duration: 11s, 9638ms;
  animation-delay: 0ms, 1928ms;
}

@keyframes move13 {
  0% {
    transform: translateX(22vw) translateY(23vh) scale(0.43);
  }
  4.5454545455% {
    transform: translateX(44vw) translateY(30vh) scale(0.77);
  }
  9.0909090909% {
    transform: translateX(29vw) translateY(14vh) scale(0.83);
  }
  13.6363636364% {
    transform: translateX(47vw) translateY(-35vh) scale(0.56);
  }
  18.1818181818% {
    transform: translateX(30vw) translateY(10vh) scale(0.93);
  }
  22.7272727273% {
    transform: translateX(7vw) translateY(-9vh) scale(0.7);
  }
  27.2727272727% {
    transform: translateX(-43vw) translateY(37vh) scale(0.78);
  }
  31.8181818182% {
    transform: translateX(-34vw) translateY(5vh) scale(0.54);
  }
  36.3636363636% {
    transform: translateX(-20vw) translateY(24vh) scale(0.93);
  }
  40.9090909091% {
    transform: translateX(6vw) translateY(-45vh) scale(0.73);
  }
  45.4545454545% {
    transform: translateX(11vw) translateY(-47vh) scale(0.58);
  }
  50% {
    transform: translateX(28vw) translateY(-42vh) scale(0.95);
  }
  54.5454545455% {
    transform: translateX(-48vw) translateY(-8vh) scale(0.38);
  }
  59.0909090909% {
    transform: translateX(-7vw) translateY(16vh) scale(0.41);
  }
  63.6363636364% {
    transform: translateX(-20vw) translateY(-8vh) scale(0.8);
  }
  68.1818181818% {
    transform: translateX(-36vw) translateY(-10vh) scale(0.92);
  }
  72.7272727273% {
    transform: translateX(40vw) translateY(31vh) scale(0.71);
  }
  77.2727272727% {
    transform: translateX(-13vw) translateY(5vh) scale(0.61);
  }
  81.8181818182% {
    transform: translateX(-10vw) translateY(2vh) scale(0.88);
  }
  86.3636363636% {
    transform: translateX(9vw) translateY(-21vh) scale(0.9);
  }
  90.9090909091% {
    transform: translateX(12vw) translateY(41vh) scale(0.83);
  }
  95.4545454545% {
    transform: translateX(6vw) translateY(47vh) scale(0.42);
  }
  100% {
    transform: translateX(15vw) translateY(25vh) scale(0.52);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 16s;
}
.firefly:nth-child(14)::after {
  animation-duration: 16s, 9552ms;
  animation-delay: 0ms, 8281ms;
}

@keyframes move14 {
  0% {
    transform: translateX(15vw) translateY(-28vh) scale(0.81);
  }
  5.2631578947% {
    transform: translateX(49vw) translateY(46vh) scale(0.81);
  }
  10.5263157895% {
    transform: translateX(32vw) translateY(41vh) scale(0.37);
  }
  15.7894736842% {
    transform: translateX(30vw) translateY(35vh) scale(0.96);
  }
  21.0526315789% {
    transform: translateX(-28vw) translateY(26vh) scale(0.6);
  }
  26.3157894737% {
    transform: translateX(-39vw) translateY(-14vh) scale(0.98);
  }
  31.5789473684% {
    transform: translateX(-48vw) translateY(-11vh) scale(0.92);
  }
  36.8421052632% {
    transform: translateX(-16vw) translateY(-45vh) scale(0.47);
  }
  42.1052631579% {
    transform: translateX(-3vw) translateY(-14vh) scale(0.65);
  }
  47.3684210526% {
    transform: translateX(-28vw) translateY(7vh) scale(0.97);
  }
  52.6315789474% {
    transform: translateX(16vw) translateY(-10vh) scale(0.67);
  }
  57.8947368421% {
    transform: translateX(26vw) translateY(32vh) scale(0.58);
  }
  63.1578947368% {
    transform: translateX(34vw) translateY(37vh) scale(0.32);
  }
  68.4210526316% {
    transform: translateX(15vw) translateY(5vh) scale(0.34);
  }
  73.6842105263% {
    transform: translateX(-24vw) translateY(35vh) scale(0.63);
  }
  78.9473684211% {
    transform: translateX(-32vw) translateY(46vh) scale(0.32);
  }
  84.2105263158% {
    transform: translateX(-17vw) translateY(-9vh) scale(0.5);
  }
  89.4736842105% {
    transform: translateX(-24vw) translateY(3vh) scale(0.59);
  }
  94.7368421053% {
    transform: translateX(21vw) translateY(35vh) scale(0.79);
  }
  100% {
    transform: translateX(-49vw) translateY(-9vh) scale(0.52);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 17s;
}
.firefly:nth-child(15)::after {
  animation-duration: 17s, 6277ms;
  animation-delay: 0ms, 8444ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-7vw) translateY(-24vh) scale(0.77);
  }
  4.347826087% {
    transform: translateX(-14vw) translateY(23vh) scale(0.54);
  }
  8.6956521739% {
    transform: translateX(-8vw) translateY(-21vh) scale(0.27);
  }
  13.0434782609% {
    transform: translateX(43vw) translateY(-14vh) scale(0.85);
  }
  17.3913043478% {
    transform: translateX(-34vw) translateY(-33vh) scale(0.33);
  }
  21.7391304348% {
    transform: translateX(-33vw) translateY(-41vh) scale(0.84);
  }
  26.0869565217% {
    transform: translateX(46vw) translateY(-17vh) scale(0.63);
  }
  30.4347826087% {
    transform: translateX(-18vw) translateY(27vh) scale(0.6);
  }
  34.7826086957% {
    transform: translateX(-16vw) translateY(-49vh) scale(0.59);
  }
  39.1304347826% {
    transform: translateX(-38vw) translateY(-21vh) scale(0.77);
  }
  43.4782608696% {
    transform: translateX(-28vw) translateY(37vh) scale(0.8);
  }
  47.8260869565% {
    transform: translateX(-3vw) translateY(-23vh) scale(0.77);
  }
  52.1739130435% {
    transform: translateX(-18vw) translateY(-35vh) scale(0.5);
  }
  56.5217391304% {
    transform: translateX(-17vw) translateY(-17vh) scale(0.7);
  }
  60.8695652174% {
    transform: translateX(17vw) translateY(-45vh) scale(0.31);
  }
  65.2173913043% {
    transform: translateX(-21vw) translateY(32vh) scale(0.84);
  }
  69.5652173913% {
    transform: translateX(32vw) translateY(30vh) scale(0.56);
  }
  73.9130434783% {
    transform: translateX(-13vw) translateY(6vh) scale(0.89);
  }
  78.2608695652% {
    transform: translateX(17vw) translateY(39vh) scale(0.53);
  }
  82.6086956522% {
    transform: translateX(-12vw) translateY(23vh) scale(0.9);
  }
  86.9565217391% {
    transform: translateX(-40vw) translateY(22vh) scale(0.94);
  }
  91.3043478261% {
    transform: translateX(-5vw) translateY(-37vh) scale(0.91);
  }
  95.652173913% {
    transform: translateX(42vw) translateY(21vh) scale(0.37);
  }
  100% {
    transform: translateX(18vw) translateY(48vh) scale(0.99);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}
